Repository weekFlex/Cartier, pull requests merged in 2022-10, with the labels that each got.

#73 [style] 루틴 추가하기 - 할 일 선택 시 Empty View 및 카테고리 동적 넓이 설정
  WeekFlex/WeekFlex/Screen/AddRoutine/Cell/CategoryCell.swift
  WeekFlex/WeekFlex/Screen/AddRoutine/Storyboard/AddRoutine.storyboard
  WeekFlex/WeekFlex/Screen/AddRoutine/ViewController/SelectToDoVC.swift
  WeekFlex/WeekFlex/Screen/Review/View/ReviewEmptyView.swift
  WeekFlex/WeekFlex/Support/Assets.xcassets/Character/character-132-sad-gray.imageset/Contents.json
  WeekFlex/WeekFlex/Support/Assets.xcassets/Character/character-132-sad-gray.imageset/character-132-sad-gray.png
  WeekFlex/WeekFlex/Support/Assets.xcassets/Character/character-132-sad-gray.imageset/character-132-sad-gray@2x.png
  WeekFlex/WeekFlex/Support/Assets.xcassets/Character/character-132-sad-gray.imageset/character-132-sad-gray@3x.png
  WeekFlex/WeekFlex/Support/Assets.xcassets/Character/character132SadGray.imageset/character132SadGray.png
  WeekFlex/WeekFlex/Support/Assets.xcassets/Character/character132SadGray.imageset/character132SadGray@2x.png
  WeekFlex/WeekFlex/Support/Assets.xcassets/Character/character132SadGray.imageset/character132SadGray@3x.png
Labels: 🍎 민희, :art: 레이아웃, :checkered_flag: 완료!

#76 [network] 할 일 북마크 기능 및 서버 연결
  WeekFlex/WeekFlex.xcodeproj/project.pbxproj
  WeekFlex/WeekFlex/Global/Model/BookmarkData.swift
  WeekFlex/WeekFlex/Global/Model/TaskData.swift
  WeekFlex/WeekFlex/Global/Service/APIService.swift
  WeekFlex/WeekFlex/Global/Service/APITarget.swift
  WeekFlex/WeekFlex/Global/Service/MoyaLoggingPlugin.swift
  WeekFlex/WeekFlex/Screen/AddRoutine/Cell/RoutineCell.swift
  WeekFlex/WeekFlex/Screen/AddRoutine/Storyboard/AddRoutine.storyboard
  WeekFlex/WeekFlex/Screen/AddRoutine/ViewController/SelectToDoVC.swift
Labels: 🍎 민희, :electric_plug: 서버API, :art: 레이아웃, 🪄기능제작, :checkered_flag: 완료!

#77 [network] 루틴 수정하기 네트워크 API 연결하기
  WeekFlex/WeekFlex/Global/Model/MakeRoutineData.swift
  WeekFlex/WeekFlex/Global/Service/APIService.swift
  WeekFlex/WeekFlex/Global/Service/APITarget.swift
  WeekFlex/WeekFlex/Screen/AddRoutine/ViewController/CheckRoutineVC.swift
  WeekFlex/WeekFlex/Screen/AddRoutine/ViewController/SelectToDoVC.swift
  WeekFlex/WeekFlex/Screen/MyRoutine/ViewController/MyRoutineListVC.swift
Labels: 🍎 민희, :electric_plug: 서버API, :checkered_flag: 완료!

#78 [feat] 애플 로그인 탈퇴 시 토큰 삭제 처리
  WeekFlex/Podfile
  WeekFlex/Podfile.lock
  WeekFlex/WeekFlex.xcodeproj/project.pbxproj
  WeekFlex/WeekFlex/Global/Service/APIService.swift
  WeekFlex/WeekFlex/Global/Service/APITarget.swift
  WeekFlex/WeekFlex/Screen/DeleteAccount/ViewController/DeleteReasonVC.swift
  WeekFlex/WeekFlex/Screen/Login/Storyboard/Login.storyboard
  WeekFlex/WeekFlex/Screen/Login/ViewController/LoginVC.swift
  WeekFlex/WeekFlex/Screen/Login/ViewController/SplashVC.swift
  WeekFlex/WeekFlex/Screen/MainHome/Cell/TaskListView.swift
  WeekFlex/WeekFlex/Screen/MainHome/Cell/TaskListView.xib
  WeekFlex/WeekFlex/Screen/MainHome/Cell/TodayTaskCell.swift
  WeekFlex/WeekFlex/Screen/MainHome/Storyboard/MainHome.storyboard
  WeekFlex/WeekFlex/Screen/MainHome/ViewController/MainHomeVC.swift
  WeekFlex/WeekFlex/Screen/Retrospection_m/ViewController/DayRetrospectionVC.swift
  WeekFlex/WeekFlex/Screen/Review/ViewController/ReviewHomeVC.swift
  WeekFlex/WeekFlex/Support/Delegate/AppDelegate.swift
  WeekFlex/WeekFlex/Support/Delegate/SceneDelegate.swift
  WeekFlex/WeekFlex/Support/KeyFile/AuthKey_64KB9UKK3J.p8
Labels: :apple: 혜린, :electric_plug: 서버API, :checkered_flag: 완료!
